@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat',sans-serif;
}

body{
    background: url(https://images.pexels.com/photos/409696/pexels-photo-409696.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 50px;
    background: rgb(42, 128, 79, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-weight: 900;
    font-size: 32px;
    color: antiquewhite;
}
.navbar a{
    font-size: 18px;
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
@media(min-width: 300px) and (max-width:684px) {
    .header {
        padding: 10px 20px;
        background: rgb(42, 128, 79, 0.4);
    }

    .logo {
        font-weight: 900;
        font-size: 18px;
        color: antiquewhite;
    }

    .navbar a {
        font-size: 10px;
        font-weight: 400;
        margin: 4px;
    }
}